<!doctype html>
<html>
<head>
    <title>Flaskr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class=page>
      <h1>Flaskr</h1>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <dl>
          <dt>Title:
          <dd><input type=text size=30 name=title>
          <dt>Text:
          <dd><textarea name=text rows=5 cols=40></textarea>
          <dd><input type=submit value=Share>
        </dl>
      </form>
      <ul class=entries>
      {% for entry in entries %}
        <li><h2>{{ entry.title }}</h2>{{ entry.text }}
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
      </ul>
    </div>
</body>
